.sdb_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 60em;
}

.sdb_m {
  color: #ABC;
}

body {
  margin-top: 2em;
  color: #EEE;
  background-color: #000;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* overrides */
div.highlight {
  color: #000;
  background-color: #FFF;
  /*padding-left: 1em;
  padding-right: 1em;*/
}

p {
  margin-top: 10px;a
}
