.flex_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50em;
}

.flex_header {
  width: 100%;
  margin-top: 0.1em;
  margin-bottom: 1em;
}

.img_header {
  width: 100%;
  height: auto;
}

.sdb_m {
  color: #ABC;
}

body {
  color: #EEE;
  background-color: #000;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* overrides */
div.highlight {
  color: #000;
  background-color: #FFF;
}

p {
  margin-top: 10px;
}

