<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="{{site.description}}">
    <meta name="keywords" content="{{site.keywords}}">
    <meta name="author" content="{{site.author}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/site.css">
  </head>
  <body>
    <div class="flex_container">
      <div class="flex_header">
        <a href="https://upload.wikimedia.org/wikipedia/commons/2/29/Pieter_Bruegel_the_Elder_-_The_Tower_of_Babel_%28Rotterdam%29_-_Google_Art_Project.jpg"><img class="img_header" src="/assets/images/babel_header.png"></a>
      </div>
      <h1>{{site.title}}</h1>
      <p>
        This is just a place to keep my personal wiki for stuff I do infrequently enough to forget about, and maybe write a blog post when I have time.
      </p>
      <p>
        My name is Sagrys de Beer, I live near Cape Town, in South Africa, and I make my living writing software.
      </p>
      <p>
        If you would like to get in touch with me about work, contact me at <span class="sdb_m">sagrys&nbsp;de&nbsp;beer&nbsp;[at]&nbsp;gmail&nbsp;[dot]&nbsp;com</span>, I will be available for new projects from July 2018 <sub>(last updated 21 May 2018)</sub>.
      </p>
      {{content}}
    </div>
  </body>
</html>
