<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="{{site.description}}">
    <meta name="keywords" content="{{site.keywords}}">
    <meta name="author" content="{{site.author}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/site.css">
  </head>
  <body>
    <div class="flex_container">
      <div class="flex_header">
        <a href="https://upload.wikimedia.org/wikipedia/commons/2/29/Pieter_Bruegel_the_Elder_-_The_Tower_of_Babel_%28Rotterdam%29_-_Google_Art_Project.jpg"><img class="img_header" src="/assets/images/babel_header.jpg"></a>
      </div>
      <h1>{{site.title}}</h1>
      <p>
        My own little wiki/reference.
      </p>
      {{content}}
    </div>
  </body>
</html>
