<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="{{site.description}}">
    <meta name="keywords" content="{{layout.keywords}}">
    <meta name="author" content="{{site.author}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sdb's wiki - {{page.title}}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/site.css">
  </head>
  <body>
    <div class="sdb_container">
      <h1>sdb's wiki</h1>
      <h2>{{page.title}}</h2>
      {{content}}
    </div>
  </body>
</html>
